.letraemail {
    margin-left: 50%;
  }
  .row {
    margin-left: 10%;
  }
  /* Define que a altura das imagens será 60% da altura da tela */
  .carousel-item img {
    height: 60vh; /* 60% da altura da viewport */
    object-fit: cover; /* Ajusta a imagem sem distorção */
  }
  /* Centraliza o carousel verticalmente */
  #carouselExampleIndicators {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  body {

    background: linear-gradient(Black, rgb(0, 0, 19));
    height: 160vh;
  }